<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
    <httpRuntime maxRequestLength="10240" />
    
    <!--<customErrors mode="Off"/>-->
  </system.web>
  <system.diagnostics>
    <switches>
      <add name="TraceLevelSwitch" value="Info" />
    </switches>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="agsProxyLogListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="./LogFiles/Application/reverse_proxy.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <!--<add name="Access-Control-Allow-Origin" value="https://dev.expedite3d.arcadis.com" />-->
        <!--<add name="Access-Control-Allow-Origin" value="*" />-->
        <add name="Access-Control-Allow-Methods" value="*" />
        <!--<add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept, Cookie" />-->
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

</configuration>
